<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ProTwo</title>
    <link rel="stylesheet" href="{%static "css/mystyle.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  </head> 
  <body>
    <div class="jumbotron">
      <h1>THIS IS PROJECT TWO!</h1>
      {{ insert_me }}
    </div>
    <div align="center" class="jumbotron">
      <img src="{%static "images/django.png" %}" alt="Loadig image Error!">
    </div>

  </body>
</html>
